body {
	background-image: radial-gradient(circle at 50% 100%, #607d8b, #243238 58%, #243238);
	height: 650px;
}

h1 {
	font-size: 50px;
	font-family: cursive;
	font-weight: 700;
	color: #fff;
	line-height: 65px;
}

h2 {
	font-size: 30px;
	line-height: 50px;
	font-family: cursive;
	font-weight: 500;
	color: #fff;
}

a {
	color: #fff;
}

.form-control {
	width: 40%;
}