<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context-4.2.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
                           http://www.springframework.org/schema/security
                           http://www.springframework.org/schema/security/spring-security-4.2.xsd
                           http://www.springframework.org/schema/jdbc
                           http://www.springframework.org/schema/jdbc/spring-jdbc-4.2.xsd">

	   <mvc:annotation-driven />
	   <mvc:resources mapping="/resources/**" location="/resources/" />
		
	   <context:component-scan base-package="com.edu"/>
			   
	   <bean 
	   		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	   		<property name="order" value="1"></property>
	   		<property name="prefix" value="/jsp/"></property>
	   		<property name="suffix" value=".jsp"></property>	
	   	</bean>
	   	
	   	<bean id="tilesViewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
	   		<property name="order" value="3"></property>
	   		<property name="viewClass" value="org.springframework.web.servlet.view.tiles3.TilesView"></property>
	   	</bean>
	   	
	   	<bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
	   		<property name="definitions">
	   			<list>
	   				<value>/tiles/definitions.xml</value>
	   			</list>
	   		</property>
	   	</bean>
	   	
	   	<security:http auto-config="true">
	   		
	   		<security:intercept-url pattern="/auth/**" access="permitAll"/>
	   		<security:intercept-url pattern="/login" access="permitAll" />
	   		
	   		<security:intercept-url pattern="/user/**" access="hasRole('ROLE_USER')" />
	   		<security:intercept-url pattern="/group/**" access="hasRole('ROLE_USER')" />
	   		<security:intercept-url pattern="/account/**" access="hasRole('ROLE_USER')" />
	   		
	   		<security:form-login login-page="/login" 
	   			username-parameter="username"
	   			login-processing-url="/j_spring_security_check"
	   			password-parameter="password"
	   			default-target-url="/user"
	   			authentication-failure-url="/login?error=1"/>
	   			
	   		<security:logout logout-url="/j_spring_security_logout" logout-success-url="/"/>
	   		
	   		<security:custom-filter ref="socialAuthenticationFilter" before="PRE_AUTH_FILTER"/>
	   	</security:http>
	   	
	   	<security:authentication-manager alias="authenticationManager">
	    <!--first Way use dummy Data  -->
<!-- 	   		<security:authentication-provider> -->
<!-- 	   			<security:user-service> -->
<!-- 					<security:user name="admin" password="admin" authorities="ROLE_USER"/>	 -->
<!-- 					<security:user name="vu" password="1234" authorities="ROLE_USER"/> -->
<!-- 					<security:user name="duyen" password="1234" authorities="ROLE_USER"/>	 	    			 -->
<!-- 	   			</security:user-service> -->
<!-- 	   		</security:authentication-provider> -->
		<!--second Way use dummy Data  -->
<!-- 			<security:authentication-provider user-service-ref="jazzUserDetailsService"> -->
<!-- 			</security:authentication-provider> -->
		<!--third Way use dummy Data  -->
			<security:authentication-provider ref="userAuthProvider" />
			<security:authentication-provider ref="socialAuthenticationProvider" />
	   	</security:authentication-manager>
	   	
	   	<bean id="socialAuthenticationFilter"
	   		class="org.springframework.social.security.SocialAuthenticationFilter">
	   			<constructor-arg name="authManager" ref="authenticationManager"/>
	   			<constructor-arg name="userIdSource" ref="userIdSource"/>
	   			<constructor-arg name="usersConnectionRepository" ref="inMemoryUsersConnectionRepository"/>
	   			<constructor-arg name="authServiceLocator" ref="connectionFactoryLocator"/> 
	   	</bean> 
	   	
	   	<bean id="socialAuthenticationProvider" class="org.springframework.social.security.SocialAuthenticationProvider">
	   		<constructor-arg ref="inMemoryUsersConnectionRepository" />
	   		<constructor-arg ref="socialUserDetailService" />
	   	</bean>
	   	
	   	<bean id="inMemoryUsersConnectionRepository" 
	   		class="org.springframework.social.connect.mem.InMemoryUsersConnectionRepository">
	   		<constructor-arg name="connectionFactoryLocator" ref="connectionFactoryLocator" />
	   		<property name="connectionSignUp" ref="connectionSignUp"></property>
	   	</bean>
	   	
	   	<bean id="connectionFactoryLocator" class="com.edu.mum.service.JazzSocialAuthServiceRegistry">
	   		<constructor-arg>
	   			<list><ref bean="facebookAuthenticationService"/></list>
	   		</constructor-arg>
	   	</bean>
	   	
	   	<bean id="facebookAuthenticationService" 
	   	  class="org.springframework.social.facebook.security.FacebookAuthenticationService">
	   		<constructor-arg name="apiKey" value="1908445919384954"/>
	   		<constructor-arg name="appSecret" value="549d16e63035109ea725f37d51c1a16b" />
	   	</bean>
	   	
	   	<bean id="connectionSignUp" class="com.edu.mum.service.JazzConnectionSignUp"/>
	   	
	   	<security:global-method-security pre-post-annotations="enabled"/>
	   	
	   	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	   		<property name="driverClassName" value="org.apache.derby.jdbc.EmbeddedDriver" />
	   		<property name="url" value="jdbc:derby:E:\\springProjects\\projects\\SpringUnit9\\db\\userdb1;create=true" />
	   		<property name="username" value=""></property>
	   		<property name="password" value=""></property>
	   	</bean>
	   	
	   	<bean id="startEventHandler" class="com.edu.mum.ContextStartEventHandler"></bean>
	   	
	   	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
	   		<property name="dataSource" ref="dataSource"></property>
	   		<property name="hibernateProperties">
	   			<props>
	   				<prop key="hibernate.dialect">org.hibernate.dialect.DerbyDialect</prop>
	   				<prop key="hibernate.show_sql">true</prop>
	   			</props>
	   		</property>
	   		<property name="packagesToScan" value="com.edu.mum.dao.model"></property>
	   		<property name="mappingLocations">
	   			<list>
	   				<value>classpath:User.xml</value>
	   			</list>
	   		</property>
	   	</bean>
	   	
</beans>